@media (prefers-color-scheme: light) {}

$h-header: 4rem;
$h-footer: 7rem;

:root {

  --gradient-header: linear-gradient(Canvas 90%, transparent);


  --bg-btn-secondary: #ececec;
  --bg-btn-main: rgb(247, 209, 82);

  --bg-avatar-default: rgb(245, 245, 245);
  --bg-avatar-mine: rgb(223, 197, 133);
  --bg-msg-default: rgb(245, 245, 245);
  --bg-msg-mine: rgb(235, 219, 179);

  --bg-layout: white;
  --bg-card: rgb(245, 245, 245);
  --shadow-card: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px,
    rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px,
    rgba(42, 51, 70, 0.04) 0px 2px 2px -1px,
    rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px,
    rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px,
    rgba(42, 51, 70, 0.03) 0px 10px 10px -5px,
    rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;

  //box shadow credits: https://codyhouse.co/nuggets/beautiful-css-shadows
  --shadow: inset 0 0 0.5px 1px hsla(0, 0%,
      100%, 0.075),
    0 0 0 1px hsla(0, 0%, 0%, 0.05),
    0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
    0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
    0 3.5px 6px hsla(0, 0%, 0%, 0.09);


  --outline-subtle: .5px solid gainsboro;

  --bg-input-filled: var(--bg-msg-mine);
}



@media (prefers-color-scheme: dark) {
  :root {

    --bg-btn-secondary: #2c2c2c;
    --bg-btn-main: #7151ff;


    --bg-avatar-default: #252525;
    --bg-avatar-mine: #a54c8e;
    --bg-msg-default: #252525;
    --bg-msg-mine: #a54c8e;

    --bg-layout: Canvas;
    --bg-card: #252525;
    --shadow-card: inset 0 0 0.5px 1px hsla(0, 0%,
        100%, 0.075),
      0 0 0 1px hsla(0, 0%, 0%, 0.05),
      0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
      0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
      0 3.5px 6px hsla(0, 0%, 0%, 0.09);

    --outline-subtle: .5px solid rgba(220, 220, 220, 0.2);
  }



}


.homepage {

  &__title {
    font-size: clamp(2rem, 4vw + 2rem, 4rem);
    line-height: .9;
    font-weight: bold;
    padding-bottom: .3em;
  }

  &__grid {
    display: grid;
    gap: 2rem;

    @media screen and (min-width: 40rem) {
      grid-template-columns: 1fr minmax(10rem, .3fr);
      align-items: center;
    }
  }

  & svg {
    max-width: 100%;
    height: auto;
  }
}


.homepage__btns {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  // justify-content: center;
  font-size: 1.2em;

  &>* {
    border-radius: 100vh;
  }

  &>*:nth-child(2):after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;

    &:hover:after {
      transform: scalex(1)
    }

  }
}



.header {
  position: fixed;
  inset-inline: 0;
  z-index: 1;
  height: $h-header;
  background-color: var(--bg-header);
  background-image: var(--gradient-header);

  &>* {
    position: relative;
  }
}






//btns

.btn--main {
  background-color: var(--bg-btn-main);
  // font-size: .8rem;
  box-shadow: var(--shadow);
}

.btn--secondary {
  background-color: var(--bg-btn-secondary);
  box-shadow: var(--shadow);

}

.btn--menu {
  display: grid;
  padding-block: .2rem;
  padding-inline: .5rem;
  border-bottom: var(--outline-subtle);
}

.btn--avatar {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--bg-avatar-mine);

  box-shadow: var(--shadow);
  border-radius: 100vh;
  padding: 0;
}


.btn--input {
  box-shadow: var(--shadow);
  background-color: unset;
}




//form
.bg-2 {
  background-color: #7151ff;
  background-color: Canvas;
}

.form {

  margin-inline: auto;
  max-width: 24rem; //fallback
  width: min(24rem, 90vw);
  // background-color: var(--bg-card);


  padding: 1rem;
  // backdrop-filter: blur(.5rem);
  border-radius: 1rem;

  box-shadow: var(--shadow);
  accent-color: #7151ff;

  & h1 {
    text-align: center;
    font-size: 2rem;
  }

  & img {
    margin-inline: auto;
  }

  & input {
    // box-shadow: var(--shadow);
    outline: var(--outline-subtle);
  }

  & input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    // border: 1px solid #434346;
    -webkit-text-fill-color: CanvasText;
    -webkit-box-shadow: 0 0 0px 1000px var(--bg-input-filled) inset;
    transition: background-color 5000s ease-in-out 0s;
  }

  ;

  & a {
    color: #7151ff;
    text-decoration: underline;
  }
}




// hide scroll https://www.dotruby.com/articles/hide-scrollbars-while-keeping-scrolling-intact

.scrollable::-webkit-scrollbar {
  display: none;
  /* Hide scrollbar for Chrome, Safari and Opera */
  width: 0px; //just in case
}

.scrollable {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

// .layout {
//   text-align: start;

//   &>* {
//     padding-inline: 2rem;
//   }

// }


.layout {
  background-color: var(--bg-layout);
  isolation: isolate;
}

.layout__header {
  height: $h-header;
  font-size: .8rem;
  line-height: 1;
  overflow: hidden;
  position: relative;
}

.layout__content {
  --gap: 1rem;
  padding-top: $h-header;
  padding-top: 7rem; //espacio extra
  // height: calc(100svh - $h-header);
  height: 100vh;
  height: 100svh;
  padding-bottom: $h-footer;
  background-color: var(--bg-body);
  border-top: 1px solid currentColor;

  // columns: min(10rem, 500px);
  columns: 240px;
  column-gap: var(--gap);

  &__link {
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: .25rem;
    // align-content: center;

    break-inside: avoid;
    margin-bottom: var(--gap);

    background-color: var(--bg-card);
    color: currentColor;

    border-radius: 1rem;
    padding: 1.5rem;

    box-shadow: var(--shadow-card);

    overflow: hidden;
    isolation: isolate;
  }

  &__link .emoji {
    font-size: 1.5em;
    // background-color: pink;
  }

  & .title {
    font-size: 2rem;
    letter-spacing: -0.5px;
    line-height: .9;
    //there is no text below so it doesnt need to move up that much
    // transform: rotate(-12deg) translate(5px, -5px);
    display: block;
  }




  & .avatars {
    display: inline-flex;
    align-items: center;
  }

  & .avatars>span {
    background-color: var(--bg-avatar-default);
    box-shadow: var(--shadow);
    // border: 2px solid var(--bg-card);
  }

  .mine .avatars>span:last-child {
    // background-image: radial-gradient(#7151ff 10%, transparent);
    // background-color: palevioletred;
    background-image: radial-gradient(var(--bg-avatar-mine) 30%, transparent 40%);
    // background-color: palevioletred;
  }
}



.layout__footer {
  position: fixed;
  inset-inline: 0;
  bottom: 0;
  // background-color: Canvas;
}



// input btn container ----------------------------------
.input-btn-container {
  position: relative;


  & input {
    width: 100%;
    box-shadow: var(--shadow);
  }

  & .btn--input {
    height: inherit;
    padding: 0;
    width: 4rem;
    display: grid;
    place-content:
      center;
  }

  & .btn-wrapper {
    padding: .3rem;
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
  }

  & .btn--main {

    background: var(--bg-btn-main, pink);
    height: 100%;
    display: grid;
    place-content: center;


  }
}












// utilities
.email {
  word-break: break-word;
}


//popover user menu
[data-radix-popper-content-wrapper] {
  padding-right: .5rem;

  &>* {
    background: Canvas;
    color: CanvasText;
    box-shadow: var(--shadow);
  }
}


//popover emojis
.emojis-container>* {
  display: grid;
  border: none;

  & input {
    padding: .5rem;
    margin-inline: .5rem;
    margin-bottom: .5rem;
  }

  & button {
    padding: 0;
    width: 1.5rem;
    height: 1.5rem;
    display: grid;
    overflow: hidden; //some emojis are 2 emojis, so hide the last one
    // place-content: center;
    background-color: inherit;
  }

  & [data-type="header"] {
    background-color: Canvas;
    padding-inline: .5rem;
    padding-top: .5rem;
  }

  & [data-type="emojis"] {
    // padding-inline: .5rem;
    padding-inline-start: .5rem; //input creates a margin so
  }

  & .overflow-y-auto {
    overflow-y: auto;
  }
}